 <h1>Write in the wall!!!</h1>
 <hr/>

<% if @message.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/messages/new">
  <div>
    <label>Author:</label>
        <input type="text" name="author" placeholder="Eg. Einstein" size="45px" value="<%= @message.author %>">
  </div>
  <div>
    <label>Content:</label>
    <input type="text" name="content" placeholder="Eg. The book is one the table" size="45px" value="<%= @message.content %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url" placeholder="(optional)Eg. http://www.google.com" size="45px" value="<%= @message.url %>">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
</form> 